/*
Theme Name:     KK Simple
Theme URI:      http: //mrkelly.sinaapp.com
Description:    KK Simple Theme,  Green, Child theme for the Twenty Ten theme 
Author:         KK
Author URI:     http: //mrkelly.sinaapp.com
Template:       twentyten
Version:        0.1.0
*/

@import url("../twentyten/style.css");

body, input, textarea, .page-title span, .pingback a.url {
    font-family: "微软雅黑", Arial;
}
#wrapper {
    margin-top: 0;
}
#header {
    border-bottom: 2px solid #414141;
    padding: 30px 0 10px;
}
#branding {
    width: 600px;
    margin: 0;
    float: left;
}
#site-title {
    width: 300px;
}

#access div.menu {
    width: auto;
    float: right;
}

#access {
    width: 330px;
    float:none;
    display: inline-block;
    background: none;
}
#access ul li.current_page_item > a, 
#access ul li.current-menu-ancestor > a, 
#access ul li.current-menu-item > a, 
#access ul li.current-menu-parent > a {
    color: #333;
    font-weight: bold;
}

#access li:hover > a,
#access ul ul :hover > a {
	background: none;
	color: #000;
}


/* 正文内容 */
#content, #content input, #content textarea {
    color: #333;
    font-size: 13px;
    line-height: 22px;
}